.t-h1
    +heading-size-1

/**
 * Text Uppercase styled
 */
.t-ttu
    line-height: 1
    font-size: 12px
    letter-spacing: 0.04em
    text-transform: uppercase

/**
 * Text alignments.
 */

.t-tar
    text-align: right

.t-tal
    text-align: left

.t-tac
    text-align: center
