head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Черкизово - Невыдуманная история
    //- Meta
    meta(name="description" content="template")
    meta(name="keywords" content="template")
    meta(name="robots" content="noindex, nofollow")
    
    //- Favicon
    link(rel="manifest" href="assets/favicon/manifest.webmanifest")
    link(rel="icon" href="assets/favicon/favicon.ico" sizes="any")
    link(rel="icon" href="assets/favicon/icon.svg" type="image/svg+xml")
    link(rel="apple-touch-icon" href="assets/favicon/apple-touch-icon.png")
