include ../blocks/mixins/svg/svg.pug
include ../blocks/mixins/button/button.pug
include ../blocks/mixins/picture/picture.pug
include ../blocks/mixins/header/header.pug
include ../blocks/mixins/footer/footer.pug