mixin header(isMain = true)
    header.header.container&attributes(attributes)
        a(href='/').header__logo
            +svg('logo-full')
        if isMain
            .header__support
                span.header__support-text Поддержите &laquo;Черкизово&raquo;<br>в&nbsp;Рейтинге работодателей!
                +btn({text: 'Поддержать', isLink: true}).header__support-btn.btn--outline