.page
    display: flex
    flex-direction: column
    row-gap: 20px

    height: 100%
    overflow-x: hidden
    scroll-behavior: smooth

    +yo('padding-bottom', ($mob: 16px, $desktop-md: 30px))
    .overlay
        position: fixed
        z-index: 100
        left: -100%
        top: 0
        width: 100vw
        height: 100dvh
        background-color: $brand
        transition: left $trs-6

    &.animate
        overflow: hidden
        .overlay
            left: 0
        .header
            transform: translateY(-150%)
        .footer
            transform: translateY(150%)

.page[data-page="main"]
    &.animate
        .main-page__title-wrapper, .main-page__title-descr, .main-page__title-descr-mob, .main-page__accept-btn
            scale: 0
            opacity: 0
    .question, .results__wrapper
        display: none

    .main-page
        @media ( max-width: $tab-sm )
            margin-top: 10px

        &::before
            content: ''

            height: 100svh
            width: 100vw

            background-image: url('../img/main.png')
            background-repeat: no-repeat
            background-size: cover
            background-position: 80% center

            position: fixed
            bottom: 0
            left: 0

            z-index: 1
            @media ( max-width: $mob )
                background-image: url('../img/main-mob.png')

    .main-page__content
        margin-top: -30px
        @media ( max-width: $desktop-sm)
            margin-top: 0

    .main-page__sky
        position: absolute
        +yo('top', ($desktop-sm: -20px, $desktop-lg: -200px))
        left: 0

        width: 130%
        max-height: 100vh

        user-select: none
        pointer-events: none

        z-index: 1
        @media ( max-width: $tab-sm )
            width: 100%
        @media ( max-width: $mob )
            top: 0

    .main-page__title-wrapper
        position: relative
        width: 100%
        scale: 1
        opacity: 1
        transition: all $trs-6
        transform-origin: left
        @media ( max-width: $tab-sm )
            position: relative
            z-index: 2

    .main-page__title
        color: $brand

        width: fit-content
        hyphens: auto

        line-height: 90%
        +yo('letter-spacing', ($mob: 0, $desktop-md: -5px))
        +yo('margin-left', ($mob: 0, $desktop-md: -10px))

        @media ( max-width: $tab-sm )
            position: relative
            z-index: 3

    .main-page__title-oval
        position: absolute
        user-select: none
        pointer-events: none
        @media ( max-width: $tab-sm )
            display: none

    .main-page__title-oval--1
        top: 100px
        left: -20%

    .main-page__title-oval--2
        top: 20px
        right: 50%

        transform: translateX(50%)

    .main-page__title-descr
        +yo('margin-top', ($mob: 16px, $desktop-md: 25px))

        width: 100%
        max-width: 720px

        +yo('font-size', ($mob: 14px, $desktop-md: 16px, $desktop-lg: 18px))
        line-height: 145%

        position: relative
        z-index: 3

        scale: 1
        opacity: 1
        transition: all $trs-6
        transform-origin: left

        span
            color: $brand

        @media ( max-width: $tab-sm )
            display: none

    .main-page__title-descr-mob
        +yo('margin-top', ($mob: 16px, $desktop-md: 25px))
        +yo('padding-inline', ($mob: 15px, $desktop-md: 20px))
        +yo('padding-block', ($mob: 10px, $desktop-md: 14px))

        display: flex
        column-gap: 13px
        width: fit-content
        border: 1px solid $brown
        border-radius: 100px

        +gotham(m)
        +yo('font-size', ($mob: 16px, $desktop-md: 18px, $desktop-lg: 20px))
        line-height: 22px

        position: relative
        z-index: 3

        scale: 1
        opacity: 1
        transition: all $trs-6
        transform-origin: left
        @media ( max-width: $tab )
            background-color: rgba(#EAF8FE, 0.5)
            backdrop-filter: blur(30px)

        @media ( max-width: $mob )
            border-radius: 16px

        @media ( max-width: 410px )
            padding-right: 24px

        @media ( min-width: 410px )
            br
                display: none

        svg
            width: 21px
            height: 26px
            flex: 1 0 auto
        @media ( min-width: $tab-sm + 1 )
            display: none

    .main-page__accept-btn
        position: relative
        z-index: 4

        scale: 1
        opacity: 1
        transition: all $trs-6
        transform-origin: left

        margin-top: 28px
        box-shadow: 24px 3px 74px 0 #edece7
        @media ( max-width: $tab-sm )
            display: none
            
