.page[data-page="questions"]
    padding-bottom: 0
    .main-page, .results__wrapper
        display: none

    &.questions
        background-color: $brand
        height: 100svh
        overflow: auto

        .question
            display: grid
            grid-template-columns: repeat(2,1fr)
            background-color: $brand

            height: calc(100% - 152px)

            &.is-answered
                padding-bottom: var(--padding-bottom, 0)
                .question__btns
                    display: none
                .question__answer-container
                    display: block
                .question__next-btn
                    display: block
                @media ( max-width: $mob )
                    .question__img-holder
                        display: none
                    .question__footer
                        margin-top: auto

            @media ( max-width: $tab )
                grid-template-columns: 1fr
                height: calc(100% - 94px)

        .question__img-fake
            @media ( max-width: $tab )
                display: contents

        .question__img-holder
            position: fixed
            top: 0
            left: 0
            width: 100%
            height: 100%

            pointer-events: none

            transition: $trs
            z-index: -1
            @media ( max-width: $tab )
                top: unset
                bottom: -60px
                height: 90%
            @media ( max-width: $mob )
                position: relative

                display: block
                margin-top: -50px
                bottom: 0
                height: 100%

                height: auto

                z-index: 0
                picture
                    &:first-child
                        img
                            position: static
                            transform: translate(0)

        .question__img
            position: absolute
            top: 0
            height: 100%
            z-index: 0
            +yo('left', ($tab:-260px, $desktop-md: 0px))

            transition: $trs
            &.is-hidden
                opacity: 0
                visibility: hidden
                user-select: none
                pointer-events: none
            @media ( max-width: $tab )
                left: 50%
                transform: translate(-50%, 0%)
                top: unset
                bottom: 40px

            @media ( max-width: $mob )
                top: 0
                bottom: unset
                width: 100%
                height: auto

        .question__content
            flex-direction: column
            display: flex
            row-gap: 20px

            padding-right: $unit

            position: relative
            z-index: 2

            +yo('padding-bottom', ($mob: 18px, $desktop-md: 24px))
            @media ( max-width: $tab )
                padding-left: $unit

            .question__footer
                display: block
                margin-top: auto
                @media ( max-width: $mob )
                    margin-top: -90px

        .question__counter
            display: flex
            align-items: center
            column-gap: 3px

            width: fit-content
            padding: 6px 8px

            background-color: $brand-hover
            border-radius: 10px

            +gotham(m)
            +yo('font-size', ($desktop-md: 16px, $desktop-lg: 20px))
            letter-spacing: -1%
            line-height: 140%

            color: rgba($light, 0.6)
            @media ( max-width: $mob )
                position: fixed
                top: 20px
                right: $unit
                z-index: 3

        .question__counter-current
            color: $white

        .question__text
            +gotham(m)
            +yo('font-size', ($mob: 20px, $desktop-md: 24px, $desktop-lg: 34px))
            letter-spacing: -1%
            line-height: 130%

            color: $light

        .question__btns
            +yo('margin-top', ($mob: 20px, $desktop-md: 34px, $desktop-lg: 38px))

            display: flex
            flex-direction: column
            +yo('row-gap',($mob: 10px, $desktop-md: 12px, $desktop-lg: 14px))

            width: 100%

            z-index: 2
            @media ( max-width: $mob )
                margin-bottom: auto

        .question__btn
            width: 100%
            padding: 13px

            border-radius: 100px
            background-color: $light-2

            +gotham(m)
            +yo('font-size', ($mob: 14px, $desktop-md: 18px, $desktop-lg: 22px))
            color: $black

            transition: $trs
            &:hover, &:focus
                background-color: $light
                color: $brand

        .question__answer-container
            display: none

        .question__answer-inner
            +yo('padding-inline', ($mob: 20px, $desktop-md: 26px, $desktop-lg: 30px))
            padding-block: 20px

            background-color: $light-2
            border-radius: 20px

            display: flex
            flex-direction: column
            +yo('row-gap', ($mob: 10px, $desktop-md: 14px, $desktop-lg: 18px))

        .question__answer-state
            display: flex
            align-items: center
            column-gap: 14px

            &[data-answer-value="false"]
                color: $brand
                .question__answer-icon--true
                    display: none

            &[data-answer-value="true"]
                color: $green
                .question__answer-icon--false
                    display: none
            span
                flex: 1
                color: currentColor
                font-size: 18px
                +yo('font-size', ($desktop-md: 18px, $desktop-lg: 22px))

                +gotham(m)

        .question__answer-icon
            +yo('width', ($desktop-md: 28px, $desktop-lg: 32px))
            +yo('height', ($desktop-md: 28px, $desktop-lg: 32px))

            display: flex
            align-items: center
            justify-content: center

            background-color: currentColor

            border-radius: 100%
            svg
                +yo('width', ($desktop-md: 18px, $desktop-lg: 22px))
                +yo('height', ($desktop-md: 18px, $desktop-lg: 22px))

                color: $white

        .question__answer-text
            +yo('font-size', ($desktop-md: 16px, $desktop-lg: 20px))

        .question__next-btn
            display: none

            padding: 17px
            width: 100%

            border: 1px solid $white
            border-radius: 15px
            backdrop-filter: blur(30px)

            color: $white
            text-transform: uppercase
            +gotham(b)
            +yo('font-size', ($desktop-md: 14px, $desktop-lg: 18px))

            transition: $trs
            &:hover, &:active
                background-color: $white
                color: $black
