mixin footer()
    footer.footer&attributes(attributes)
        .footer__inner
            .footer__text.footer__text--main В&nbsp;весёлом квизе рассказываем, как изменилась жизнь когда-то небольшого мясоперерабатывающего завода за&nbsp;50&nbsp;лет,&nbsp;&mdash; а&nbsp;изменилась она невероятно! <span>Сможете отличить реальность от&nbsp;выдумки?</span>
            .footer__text.footer__text--questions
                .footer__text-title Разделяете наш аппетит к&nbsp;работе?
                .footer__text-desc Поддержите &laquo;Черкизово&raquo; в&nbsp;Рейтинге работодателей!
            +btn({text: 'Принять вызов!'}).footer__btn.footer__btn--main.btn--solid(data-btn-to="questions")
            +btn({text: 'Поддержать', icon: 'arrow-right', isLink: true}).footer__btn.footer__btn--questions.btn--solid