mixin footer
    footer.footer
        .footer__text В&nbsp;весёлом квизе рассказываем, как изменилась жизнь когда-то небольшого мясоперерабатывающего завода за&nbsp;50&nbsp;лет,&nbsp;&mdash; а&nbsp;изменилась она невероятно! <span>Сможете отличить реальность от&nbsp;выдумки на&nbsp;вкус?</span>
        +btn({text: 'Принять вызов!'}).footer__btn.btn--solid