mixin btn(data)
    if data.isLink
        a(href=data.href || '#' target="_blank").btn&attributes(attributes)
            if data.icon
                span.btn__icon
                    +svg(data.icon)
            if data.text
                span.btn__text !{data.text}
            if block
                block
            
    else
        button.btn&attributes(attributes)
            if data.icon
                span.btn__icon
                    +svg(data.icon)
            if data.text
                span.btn__text !{data.text}
            if block
                block
                