.btn
    display: flex
    align-items: center
    justify-content: center
    column-gap: 8px

    height: fit-content
    .btn__icon
        display: flex
        align-items: center
        justify-content: center
    .btn__text
        white-space: nowrap

.btn--icon
    @extend .u-center
    border-radius: 100%

.btn--solid
    width: fit-content
    border-radius: 15px
    background-color: $brand

    padding: 25px 36px

    transition: $trs
    &:hover, &:active
        background-color: $brand-hover
        border-color: $brand-hover

    .btn__text
        color: $white
        text-transform: uppercase
        +gotham(b)

        font-size: 14px
        letter-spacing: 1px

.btn--outline
    width: fit-content
    padding: 10px 16px

    border: 1px solid $brand
    border-radius: 15px
    font-size: 14px

    transition: $trs

    &:hover
        border-color: $brand
        .btn__text
            color: $brand-hover

    &:active
        border-color: $brand-hover
        background-color: $brand-hover
        .btn__text
            color: $white

    .btn__text
        color: $brand
        +gotham(b)

        transition: $trs
